@model Brand
<form asp-action="InsertBrand">
    <label asp-for="@Model.Name"></label>
    <input asp-for="@Model.Name" />
    <input type="submit" value="Ekle" class="btn btn-outline-success"/>
</form>