@model KitapEkleVM


<form method="post" asp-action="KitapEkle">
    <table>
        <tr>
            <td> <label asp-for="Kitap.KitapAdi"></label> </td>
            <td> <input asp-for="Kitap.KitapAdi" class="form-control" /> </td>
        </tr>

        <tr>
            <td> <label asp-for="Kitap.Fiyat"></label> </td>
            <td> <input asp-for="Kitap.Fiyat" class="form-control" /> </td>
        </tr>

        <tr>
            <td> <label asp-for="Kitap.KategoriID"></label> </td>
            <td> <select asp-for="Kitap.KategoriID" asp-items="@Model.Kategoriler" class="form-control"></select> </td>
        </tr>

        <tr>
            <td> <label asp-for="Kitap.KategoriID"></label> </td>
            <td> <select asp-for="@Model.Kitap.YazarID" asp-items="@Model.Yazarlar" class="form-control"></select> </td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <input type="submit" value="Ekle" class="btn btn-outline-secondary" />
            </td>
        </tr>
    </table>
</form>