@model Login

<form asp-action="Login" method="post">
    <input type="text" asp-for="UserName"/>
    <input type="password" asp-for="Password" />

    <input type="submit" value="Giriş Yap"/>
</form>