body {
    background-color: #333;
    /* display: flex; */
    /* justify-content:center; */
    /* align-items: center; */
    height: 100vh;
  }
  
  .text-rainbow-animation {
    font-family:arial black;
    font-size:30px;
    background-image: 
    linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet, red); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
    animation: rainbow-animation 35s linear infinite;
  }
  
  @keyframes rainbow-animation {
      to {
          background-position: 4500vh;
      }
  } 