<div class="card-group">
    <div class="card col-4">
        <div class="col-3  m-auto">
            <img src="~/images/data.png" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
            <h5 class="card-title">Makale Sayısı</h5>
            <p class="card-text">@ViewBag.EssayCount</p>
        </div>
    </div>
    
    <div class="card col-4">
        <div class="col-3 m-auto">
            <img src="~/images/sketch.png" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
            <h5 class="card-title">Başlık Sayısı</h5>
            <p class="card-text">@ViewBag.TopicCount</p>
        </div>
    </div>
</div>