@using Haber.Application.Models.DTOs;
@model YorumEkleDTO

<div>
    <form asp-area="UyePanel" asp-controller="Home" asp-action="YorumEkle" method="post">
        <input type="hidden" name="HaberID" value="@Model.HaberID"/>
        <textarea cols="60" rows="6" asp-for="YorumIcerik">
        </textarea>

        <input type="submit" value="Yorum Ekle"/>
    </form>
</div>